.idea/
code/
experiments/results/
/experiments/results/selection/
.ipynb_checkpoints
*/results/
/experiments/OLD_notebooks_euclid_ae/
/experiments/OLD_notebooks_euclid_vae/
/experiments/OLD_notebooks_m_ae/
/experiments/OLD_notebooks_m_vae/
/experiments/OLD_notebooks_supp_exps/
results/
true_curvature_cache/
OLD_notebook_utils/
notebooks/
/notebooks/
